$orange : #A63F1E;
$dark-green : #08422f;
$light-green: #004732;
$tan: #f6ebd2;
$gold: #806c51;
$white: #ffffff;

$body-copy : 'Adobe-Caslon-Pro', 'Georgia', 'Times New Roman', serif;
$chunk-copy:  'ChunkFive';
$tall-copy: 'Birch';
